<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
            <h2 class="post-title">
              {{ fields.title.content }}
            </h2>
          <p class="post-meta">Posted by
            {{ fields.uid.content }} on
            {{ fields.created.content }}
          </p>
       </div>
       <hr>
     </div>
    </div>
  </div>
